{%  extends 'base.html' %}
{% load staticfiles %}
{% block title %}material{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/creatingActivities.css">
    <script type="text/javascript">
       function deletefile() {
           var file= $('#file');
           file.after(file.clone().val(""));
           file.remove();
       }
    </script>
<div class="containerbox">
	<div class="crumb">
		<span>首页</span>
		<span class="slash">/</span>
		<span>素材中心</span>
		<span class="slash">/</span>
		<span>直播素材</span>
		<span class="slash">/</span>
		<span>新建直播素材</span>
	</div>
	
	<div class="operationbox">
		{% if state == 'success' %}
		<div class="well">
			<h2 class="text-success text-center">添加成功</h2>
		</div>
		{% endif %}
		<form method="POST" role="form" class="form-horizontal" enctype="multipart/form-data">
			{% csrf_token %}
			<b class="fontblue">新建直播素材</b>
			<div class="activities">
				<span class="fontgrey spanbox">素材名称：</span><input required type="text" id="name" name="name" autofocus class="bigtext" placeholder="如有，请填写">
			</div>
			<div class="activities">
				<span class="fontgrey">口播内容：</span><textarea class="textarea bigtextarea" id="content" name="content" style="border:1px solid #e1e3e8"></textarea>
			</div>
			<div class="activities">
				<span class="fontgrey">植入商品为：</span><br/><br/><input type="text" class="bigtext  smalltext" id="goods_name" name="goods_name" placeholder="如有，请填写">
			</div>
			<div class="activities"><br/>
				<span class="fontgrey">露出品牌的文件 (如有, 请上传) :</span><br/><br/>
				<input type="file" class="blue" id="file" name="goods_url">
{#                <button class="blue" style="margin-top:-27px;float:left;margin-left:300px;" onclick="deletefile()">删除</button>#}
                <p class="blue" style="width:98px;height:35px;line-height:35px;border-radius:5px;text-align:center;border:0;margin-top:-30px;float:left;margin-left:300px;" onclick="deletefile()">删除</p>
			</div>
			<div class="activities">
				<span class="fontgrey spanbox remark askremark">要求备注：</span><textarea class="textarea middletextarea" id="memo" name="memo" style="border:1px solid #e1e3e8"></textarea>
			</div>
			<div class="activities">
				<button class="blue save" type="submit">保存</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
	
