{%  extends 'base.html' %}
{% block title %}{{ active_menu }}{% endblock %}
{% block content %}
<script type="text/javascript" src="/static/js/changepassword.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/changepassword.css">
<div class="containerbox">
    <div class="crumb">
        <span>首页</span>
        <span class="slash">/</span>
        <span>修改个人资料</span>
    </div>
    <div class="changepassword">
        <ul class="changepasswordbox">
            <li class="changepassword lightblue" id="information">
                <div class="name">个人资料</div>
            </li>
    
            <li class="changepassword blue" id="password" style="margin-left:8px;">
                <div class="name">修改密码</div>
            </li>
        </ul>
    </div>
    <div class="card-data" style="margin-top:40px;">
        <div id="tab-information" class="operationbox">
            <form id="submit_dataform" action="{% url 'changedata' %}"  method="post">
            {% csrf_token %}
                <span>我的账号</span>
                {% for i in personal_data %}
                <div class="deways">注册时间：
                    <input style="margin-left:24px;" class="wails"  disabled="true" value="{{ i.date_joined|date:"Y-m-d H:i" }}" type="text" name="date_joined">
                </div>            
                <div class="deways">&nbsp;ID&nbsp;&nbsp;地址：
                    <input style="margin-left:25px;" class="wails" disabled="disabled" value="{{ i.username }}" type="text" name="username">
                </div>
                <div class="deways">公司名称：
                    <input style="margin-left:23px;"  class="wails"  value="{{ i.company }}" type="text" name="company">
                </div>
                <div class="deways">&nbsp;&nbsp;&nbsp;联系人：
                    <input style="margin-left:25px;" class="wails"  value="{{ i.contacts }}" type="text" name="contacts">
                </div> 
                <div class="deways">&nbsp;&nbsp;&nbsp;手机号：
                    <input style="margin-left:25px;" class="wails"  value="{{ i.phone }}" type="text" name="phone">
                </div>            
                <div class="deways">&nbsp;&nbsp;&nbsp;&nbsp;邮&nbsp;&nbsp;箱：
                    <input style="margin-left:25px;" class="wails" disabled="disabled" value="{{ i.email }}" type="text" name="email">
                </div>
                <div class="deways">店铺网址：
                    <input style="margin-left:20px;"  class="wails"  value="{{ i.url }}" type="text" name="url">
                </div>
                {% endfor %}
                <div class="button_deways">
                    <button id="submit_data" class="blue" >保存修改</button>
                </div>
            </form>     
        </div>
        <div id="tab-password" class="operationbox">
            <span>修改密码</span>
{#                <form action="{% url 'changepassword' %}" id="sumbit_changepassword" method="post">#}
{#                    {% csrf_token %}#}
                <div class="deways">旧密码：
                    <input class="wails" id="oldpassword" style="margin-left:49px;"  type="password" name="oldpassword">
                </div>
                <div class="deways">新密码：
                    <input id="newpassword1" style="margin-left:49px;" class="wails"  type="password" name="newpassword1">
                </div>                 
                <div class="deways">确定新密码：
                    <input id="newpassword2" style="margin-left:20px;" class="wails"   type="password" name="newpassword2">
                </div>                 
               <button class="blue"   id="confirm_change"  onclick="clickValues()">确认修改</button>
{#              </form>#}
        </div>
    </div>
</div>
{% endblock %}