<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <link rel="stylesheet" type="text/css" href="/static/css/user.css">
    <script type="text/javascript" src="/static/js/common/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
    $(function(){
            $("#send_email").click(function(){
                a = $("#input_email").val()  //获取输入邮箱的值
                email_data ={'a':a}
                $.ajax({
                    type:'POST',
                    data:email_data,
                    datatype:'json',
                    url:'/forgetpassword/',
                    success:function(data){
                        if(data.b=='b'){
                            alert('邮件已发送成功')
                        }else{
                            alert('请仔细检查输入的邮箱是否正确')
                        }
                    }
                })
            })
            })

        //防止403 forbidden
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
            var csrftoken = getCookie('csrftoken');
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
</head>
<body>
<div class="content">
{#    <form id="submit_email" action="" method="post">#}
{#    {% csrf_token %}#}
	<div class="border">
		<div class="border_center text_align">
			<div class="fieldWrapper white">
				<p class="font-size">忘记您的密码了吗？</p>
				<p class="margin_top">请您输入注册时使用的邮箱</p>
			</div>
			<input id="input_email" class="border_input margin_top" type="email" required value="" name="email">
			<div>
				<button id="send_email" class="register margin_top"  value="">发送验证邮件</button>
			</div>
		</div>
	</div>
{#    </form>#}
</div>
</body>
</html>

