<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <link rel="stylesheet" type="text/css" href="/static/css/user.css">

    <script type="text/javascript" src="/static/js/common/jquery-2.1.4.min.js"></script>

    <script type="text/javascript" >

    $(function(){
        $(".register").click(function(){
         a = $("#newpassword1").val()    //第一次输入密码的值
         b = $("#newpassword2").val()   //第二次输入密码的值
         c = $("#resetuser").val()    //当前重置的用户名

         if (a==b){
             $.get("/submitpassword",{'a':a,'c':c},function(data){
                 alert('保存成功');
             })
         }else{
             alert('两次密码输入不一致')
         }
     })
    })

    </script>
</head>
<body>
<div class="content">
	<div class="border">
		<div class="border_center text_align">
            <div class="fieldWrapper_reg">
                <label class="white" for="">*用户名:
                    <input class="border_input detial_reg" type="text" disabled="disabled" id="resetuser" required name="" value="{{ reset_user }}">
                </label>
            </div>
            <div class="fieldWrapper_reg">
                <label class="white" for="" style="margin-left:-32px;">*请输入密码:
                    <input class="border_input detial_reg" type="password" required id="newpassword1" name="" value="">
                </label>
            </div>
            <div class="fieldWrapper_reg">
                <label class="white" for="" style="margin-left:-46px;">*再次输入密码:
                    <input class="border_input detial_reg" type="password" required id="newpassword2" name="" value="">
                </label>
            </div>
            <div>
                <button class="register margin_top" type="" value="" style="margin-top:40px;">保存</button>
            </div>
		</div>
	</div>
</div>
</body>
</html>

